<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} Звонок</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: rgb(228, 229, 230);"">

<div class="container mt-5"">
    <h3 class="mb-4">{% block content %}{% endblock %} Заполните форму и мы Вам перезвоним!</h3>

    <div class="card">
        <div class="card-body">
            <form action="/add_client" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Имя:</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Телефон:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" required>
                </div>

                <div class="mb-3">
                    <label for="order" class="form-label">Заказ:</label>
                    <textarea class="form-control" id="order" name="order" rows="4" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS и Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>

</body>
</html>
