<!DOCTYPE html>
<html lang="ru">
    <!-- SEO Метатеги -->
    <meta name="description" content="Лучший магазин строительных материалов: доступные цены, высокое качество и быстрая доставка. Заказывайте материалы прямо сейчас!">
    <meta name="keywords" content="строительные материалы, купить стройматериалы, доставка стройматериалов, магазин стройматериалов">
    <meta name="robots" content="botai, follow">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат с ассистентом</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism.min.css">
</head>
<body>
    <button id="startButton">Говорить</button>
    <input type="text" id="textInput" placeholder="Введите ваш запрос">
    <button id="submitButton">Отправить</button>
    <div id="error"></div>
    <div id="response-container"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/components/prism-python.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
