{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}
<!-- SEO Метатеги -->
<meta name="description" content="Лучший магазин строительных материалов: доступные цены, высокое качество и быстрая доставка. Заказывайте материалы прямо сейчас!">
<meta name="keywords" content="строительные материалы, купить стройматериалы, доставка стройматериалов, магазин стройматериалов">
<meta name="robots" content="post, follow">

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card col-12 col-md-8" style="background-color: rgb(200, 200, 201);">
        {% if post.image %}
            <div class="text-center">
                <img src="{{ url_for('static', filename=post.image) }}" 
                     class="card-img-top img-fluid" 
                     alt="{{ post.title }}"
                     style="width: 60%;">
            </div>
        {% endif %}
        <div class="card-body text-center">
            <h1 class="card-title">{{ post.title }}</h1>
            <p class="card-text">{{ post.content }}</p>
            <p class="text-muted">{{ post.created_at.strftime('%d.%m.%Y %H:%M') }}</p>
            <div class="d-flex justify-content-center gap-2">
                <a href="{{url_for('add_client')}}" class="btn btn-primary">Оформить заказ</a>
                {% if session.get('is_admin') %}
                    <a href="{{ url_for('delete', post_id=post.id) }}" 
                       class="btn btn-danger"
                       onclick="return confirm('Вы уверены?')">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
